
body
{
    font-family: 'Varela Round', sans-serif;
    background:rgb(0, 0, 0);
    width: 98%;
    height: 35em;
    padding: 0px;
}
.high
{
    background-color: black;
    color:rgb(43, 107, 150);
    width: 65%;
    border: 2px solid #27292c;
    float: left;
    margin-left: 2%;
    margin-top: 2.5%;
    height: auto;
    min-height: 35em;
    text-align: center;
     border-radius: 4%;  /* 25%,10% */
}
.wallet
{
     margin-right: 2em; 
    margin-top: 2em;
}
.wallet table
{
    color:rgb(248, 252, 251);
}
#secretCode
{
    margin-top: 1em;
    font-size: 70%;
    color:#d63c51;
}
.secretCode
{
    width: 70%;
    margin-left: 14%;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-top: 0.7em;
    padding-bottom: 1em;
}
.secretCode span
{
    margin-left: 8%;
}
.copy:active
{
    outline: none;
    color: green;
}
.copy:focus
{
    outline: none;
}
.copy:hover
{
    color: green;
    outline: none;
}
.copy
{
    border:none;
    font-size: 80%;
    color:white;
    background-color: black;
}
.copySecCod
{
    outline: none;
    color: green;
}
.copySecCod:focus
{
    outline: none;
}
.copySecCod:hover
{
    color: green;
    outline: none;
}
.copySecCod
{
    border:none;
    font-size: 80%;
    color:white;
    background-color: black;
}
.wallet table button
{
   padding: 0px;
   background-color: #484f77; border: none;
   width: 4em;
   height: 1.5em;
   color:rgb(190, 184, 184);
   text-align: center;
   border-radius: 8%;
   font-size: 80%;
   vertical-align: middle;
}
table
{
    width: 80%;
    margin-left: 3%;
}
.table span
{
    color: rgb(116, 112, 112);
}
.table thead
{
    border-bottom: 0.05px solid rgb(51, 50, 50);
}
.table th
{
    font-weight: 400;
    color: rgb(151, 146, 146);
}
td:nth-child(1) 
{
    width: 9em;
    text-align: left;
}
td:nth-child(2) 
{ 
    text-align: center;
    width: 6em;
}
td:nth-child(3) 
{ 
    text-align: left;
    width: 6em;
}
th:nth-child(3) 
{ 
    text-align: left;
    width: 6em;
}
td:nth-child(4) 
{ 
    width: 7em;
    text-align: left;
}
th:nth-child(4) 
{ 
    text-align: left;
}
td:nth-child(5)
{
    width: 5em;
    text-align: center;
}
td:nth-child(6)
{
    width: 5em;
    text-align: center;
}
td:nth-child(7)
{
    width: 5em;
    text-align: center;
}
.price
{
    color:green;
}
.img
{
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 1.2em;
    vertical-align: middle;
}
.wallet .balance
{
    color:lime;
}
.wallet table button:hover 
{
    background-color: chartreuse;
    color: rgb(20, 20, 20);
    border: none;
}
