
body
{
    font-family: 'Varela Round', sans-serif;
    background:rgb(173, 172, 172);
    width: 98%;
    height: 35em;
    padding: 0px;
}
.high
{
    background-color: black;
    color:rgb(152, 168, 136);
    width: 40%;
    border: 2px solid #3c68a1;
    /* float: left; */
    margin-left: 30%;
    margin-top: 2.5%;
    height: auto;
    min-height: 35em;
    text-align: center;
     border-radius: 25% 10%;  
}
.wallet
{
    margin-top: 2em;
}
.wallet div
{
    width: 87%;
    text-align: right;
    margin-top: 1em;
    color:rgb(8, 156, 124);
}
#secretCode
{
    font-size: 70%;
    color:#d63c51;
}
.secretCode
{
    width: 70%;
    margin-left: 11%;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.secretCode span
{
    margin-left: 12%;
}
.wallet button
{
    padding: 0px;
    border: none;
    background-color: #484f77;
   margin-left: 2em;
   width: 4.5em;
   height: 1.5em;
   color:rgb(190, 184, 184);
   text-align: center;
   border-radius: 8%;
}
.img
{
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 1em;
    vertical-align: bottom;
}
.wallet span
{
    margin-right: 2em;
    margin-left: 2em;
    color:rgb(250, 250, 253)
}
button:hover 
{
    background-color: chartreuse;
    color: rgb(20, 20, 20);
}
